// fusv-enable

// scss-docs-start theme-color-variables
$primary:       #4FBDBA !default;
$secondary:     #AEFEFF !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         #35858B !default;
$dark:          #072227 !default;
